body {
  --bs-gutter-x: 0;
    background: black !important;
}

#screenRow {
    gap: 0 !important;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#screenRow {
  --bs-gutter-x: 0;
}

.card {
    background: black;
    border: none;
    border-radius: 0;
    margin-bottom: 0.5em !important;
}

.card:first-of-type {
    border-bottom: 3px solid white;
}

.card-header,
.card-header th {
    background: transparent;
    font-weight: 400 !important;
    font-size: 1.3em;
    border: none;
}

#screenRow .table {
  --bs-border-width: 0;
}

.minoes-table {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(5px 8px 0 rgba(9, 9, 9, 22%));
}

.minoes-table tr {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: calc(100 - var(--row));
}

#holdTable {
    margin: 0 !important;
}

#statsTable {
    width: 10rem;
}

#statsTable tr {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#statsTable td,
#statsTable th {
    margin: 0;
    padding: 0 !important;
    width: auto;
    height: auto;
    text-transform: uppercase;
}

#statsTable th {
    display: inline;
    flex-flow: row;
    font-size: 0.8em;
    text-align: center;
    width: 200%;
}

#statsTable td {
    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

td#timeCell {
    text-align: center;
}

#matrixCard {
    background: transparent;
    border-top: none;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.minoes-table td {
    display: inline-block;
    width: var(--cell-size);
    height: var(--cell-size);
    padding: 0 !important;
    z-index: calc(200 - var(--row));
    border: none !important;
}

.mino {
    width: inherit;
    height: inherit;
    display: block;
    padding: 0;
    opacity: 100%;
    box-shadow: 0 -6px 0 var(--box-shadow-color);
}

.I.mino {
    background-color: #42afe1;
  --box-shadow-color: #6ceaff;
}

.J.mino {
    background-color: #1165b5;
  --box-shadow-color: #339bff;
}

.L.mino {
    background-color: #f38927;
  --box-shadow-color: #ffba59;
}

.O.mino {
    background-color: #f6d03c;
  --box-shadow-color: #ffff7f;
}

.S.mino {
    background-color: #32ee3e;
  --box-shadow-color: #84f880;
}

.T.mino {
    background-color: #9739a2;
  --box-shadow-color: #d958e9;
}

.Z.mino {
    background-color: #eb4f65;
  --box-shadow-color: #ff7f79;
}

.ghost.mino {
    background-color: #fff4;
    box-shadow: none;
}

.moving.mino {
    filter: saturate(80%) brightness(130%);
}

.locking.mino {
    filter: saturate(20%) brightness(300%);
}

.locked.mino {
    animation: locked-animation;
    animation-duration: 0.2s;
}

.disabled.mino {
    filter: brightness(50%) contrast(65%);
}

@keyframes locked-animation {
    from {
        filter: saturate(50%) brightness(300%);
    }
}
