.mino {
  background-color: var(--color);
  background-image:
    radial-gradient(
      ellipse 20% 8% at 25% 20%,
      #ffffff55,
      #ffffff33 40%,
      transparent 70%
    ),
    radial-gradient(
      ellipse 140% 85% at 50% -15%,
      var(--light) 0%,
      #ffffff60 35%,
      #00000005 60%
    ),
    radial-gradient(
      ellipse 120% 200% at 50% 140%,
      var(--light) 0%,
      var(--color) 55%,
      #00000066 95%
    );
  border: 2px outset var(--color);
  border-top-color: var(--light);
  border-radius: 3px;
  box-shadow:
    inset 2px 0 4px rgba(0,0,0,.06),
    inset -2px 0 4px rgba(0,0,0,.12);
  filter: saturate(1.1) contrast(1.05);
}

.I {
  --color: #009fcf;
  --light: #cfeaf1;
}

.J {
  --color: #0048a8;
  --light: #adcdff;
}

.L {
  --color: #f96700;
  --light: #f8d3b8;
}

.O {
  --color: #fdba00;
  --light: #f6e0b8;
}

.S {
  --color: #59b616;
  --light: #dceecf;
}

.T {
  --color: #852687;
  --light: #e3c7e3;
}

.Z {
  --color: #a90f16;
  --light: #ebc6c8;
}

.ghost {
  opacity: 35%;
  filter: saturate(50%) brightness(80%);
}